<div class="pad70">
  <h1><%= @user.name %></h1>
  <hr>
  <%= render 'relationships/follow_button', user: @user %>
  <br>
  <%= link_to "マイページへ", "http://localhost:3000/user/#{current_user.id}", { class: 'btn btn-outline-primary w-25' }  %>
</div>
