<div class=pad70>
  <h1><%= @hang_out.name %>の参加を取り消しました</h1>
  <br>
  <%= link_to "みんなのあそび", "http://localhost:3000/hang_outs", { class: 'btn btn-outline-primary w-25' }  %>
  <%= link_to "マイページ", "http://localhost:3000/user/#{current_user.id}", { class: 'btn btn-outline-primary w-25' }  %>
</div>
