<div class=pad70>
  <h1>では<%= @hang_out_name_2 %>はいかがですか？</h1>

  <%= link_to "#{@hang_out_name_2}であそぶ", new_hang_out_path(hang_out_name: @hang_out_name_2), { class: 'btn btn-outline-primary btn-lg btn-block' } %>
  <%= link_to "いいえ", "http://localhost:3000/recommend_three/#{@question.id}", { class: 'btn btn-outline-primary btn-lg btn-block' } %>
