<div class=pad120>
  <div class=center>
  <div class=rh2><%= @genre %>がレコメンドされました</div>
  <br>
  <div class=rh1><%= @hang_out_name_1 %>はいかがですか？</div>

  <br>
  <br>
  <%= link_to "#{@hang_out_name_1}であそぶ", new_hang_out_path(hang_out_name: @hang_out_name_1), { class: 'btn btn-outline-primary btn-lg' } %>
  <%= link_to "いいえ", "http://localhost:3000/recommend_two/#{@question.id}", { class: 'btn btn-outline-primary btn-lg' } %>
  </div>
